<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kirk Baskin</title>
</head>
<body>
  <p class="copyright">{{ footer.copyrightNotice|replace('{year}', now|date('Y')) }}</p>
  <img src="/assets/forest.jpg" alt="">
</body>
</html>
